.dashboard {
  display: flex;
}

.sidebar {
  background-color: #0CB47F;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 1;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, padding 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 250px;
  transform: translateX(0);
}

.sidebar.closed {
  width: 0;
  opacity: 0;
  padding-left: 0;
  overflow: hidden;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper > button{
  display: none;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: block;
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navItem:hover {
  background-color: #4a5568;
}

.content {
  transition: margin-left 0.3s ease-in-out;
}

.contentWithSidebar {
  flex: 1;
  margin: 20px;
}

.contentFullScreen {
  flex: 1;
  margin: 20px;
}

.toggleButton {
  background-color: #0CB47F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggleButton:hover {
  opacity: 0.9;
  color: #0CB47F!important;
  border: #0CB47F solid 1px!important;
}

.main {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.yoouShareWrapper{
  position: relative;
}

.btnsWrapper{
   position: absolute;
}

@media (max-width: 768px){
  .sidebar {
    position: absolute;
    z-index: 5;
    height: 100%;
  }

  .logoWrapper > button{
    display: flex;
  }
}
